[submodule "devices/eastronsdm"]
	path = devices/eastronsdm
	url = https://github.com/safecility/eastronsdm
[submodule "devices/milesightct"]
	path = devices/milesightct
	url = https://github.com/safecility/milesightct
[submodule "devices/hotdrop"]
	path = devices/hotdrop
	url = https://github.com/safecility/hotdrop
[submodule "microservices"]
	path = microservices
	url = https://github.com/safecility/microservices
